#### From ML Class
1. Problem Definition
2. Data Collection
3. Data Cleaning
4. Exploratory Data Analysis
5. Feature Engineering
6. Data Preprocessing
7. Splitting the Data
8. Model Selection
9. Model Training
10. Model Evaluation
11. Hyperparameter Tuning
12. Model Deployment
13. Model Monitoring and Updating

#### From DS Class
1. Introduction (Background, Objectives, Data Description) (variables=description)
2. Install and import libraries
3. Load (read) the dataset (always create a copy of the dataset)
4. Basic data exploration
5. EDA
    - data cleaning
    - data engineering
    - data visualization
    - handling missing values
    - correlation
    - skewness
    - EDA summary
6. Data mining
7. Conclusion (presenting your findings and providing actionable insights)

#### **Importing Necessary Libraries**

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
df = pd.read_csv('sales_data.csv')
df.head()

,Order Date,Order ID,Product,Product_ean,catégorie,Purchase Address,Quantity Ordered,Price Each,Cost price,turnover,margin
0,1/22/2019 21:25,141234,iPhone,5.638010e+12,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000
1,1/28/2019 14:15,141235,Lightning Charging Cable,5.563320e+12,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750
2,1/17/2019 13:33,141236,Wired Headphones,2.113970e+12,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900
3,1/5/2019 20:33,141237,27in FHD Monitor,3.069160e+12,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965
4,1/25/2019 11:59,141238,Wired Headphones,9.692680e+12,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950

In [3]:
sales = df.copy()

In [4]:
# setting the index as order date (not needed for this but good for DS)
# sales.set_index('Order Date', inplace=True)
# sales.head(2)

In [5]:
# getting the shape of the DataFrame
sales.shape

(185950, 11)

In [6]:
# looking at the columns (features)
sales.columns

Index(['Order Date', 'Order ID', 'Product', 'Product_ean', 'catégorie',
       'Purchase Address', 'Quantity Ordered', 'Price Each', 'Cost price',
       'turnover', 'margin'],
      dtype='object')

In [7]:
# getting an idea about the dataset
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order Date        185950 non-null  object
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Product_ean       185950 non-null  float64
 4   catégorie         185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   Quantity Ordered  185950 non-null  int64
 7   Price Each        185950 non-null  float64
 8   Cost price        185950 non-null  float64
 9   turnover          185950 non-null  float64
 10  margin            185950 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 15.6+ MB

In [8]:
# looking for NaN (empty data points)
sales.isnull().sum()

Order Date          0
Order ID            0
Product             0
Product_ean         0
catégorie           0
Purchase Address    0
Quantity Ordered    0
Price Each          0
Cost price          0
turnover            0
margin              0
dtype: int64

In [9]:
# Lowercase all the column names and replace spaces with underscores
sales.columns = sales.columns.str.lower().str.replace(' ', '_')

# Selects only columns with string values
string_column = list(sales.dtypes[sales.dtypes == 'object'].index)

# Lowercase and replace spaces with underscores in all string columns
for col in string_column:
    sales[col] = sales[col].str.lower().str.replace(' ', '_')

In [10]:
# check the data to make sure everything was done
sales.columns

Index(['order_date', 'order_id', 'product', 'product_ean', 'catégorie',
       'purchase_address', 'quantity_ordered', 'price_each', 'cost_price',
       'turnover', 'margin'],
      dtype='object')

In [11]:
sales.head(2)

,order_date,order_id,product,product_ean,catégorie,purchase_address,quantity_ordered,price_each,cost_price,turnover,margin
0,1/22/2019_21:25,141234,iphone,5.638010e+12,vêtements,"944_walnut_st,_boston,_ma_02215",1,700.00,231.000,700.00,469.000
1,1/28/2019_14:15,141235,lightning_charging_cable,5.563320e+12,alimentation,"185_maple_st,_portland,_or_97035",1,14.95,7.475,14.95,7.475

In [12]:
# looking at 'product' values
sales['product'].value_counts()

product
usb-c_charging_cable          21903
lightning_charging_cable      21658
aaa_batteries_(4-pack)        20641
aa_batteries_(4-pack)         20577
wired_headphones              18882
apple_airpods_headphones      15549
bose_soundsport_headphones    13325
27in_fhd_monitor               7507
iphone                         6842
27in_4k_gaming_monitor         6230
34in_ultrawide_monitor         6181
google_phone                   5525
flatscreen_tv                  4800
macbook_pro_laptop             4724
thinkpad_laptop                4128
20in_monitor                   4101
vareebadd_phone                2065
lg_washing_machine              666
lg_dryer                        646
Name: count, dtype: int64

In [13]:
# looking at the format of order date
sales['order_date'].head(1)

0    1/22/2019_21:25
Name: order_date, dtype: object

In [14]:
# setting the date time format to be able to change the columns
sales['order_dt'] = pd.to_datetime(sales['order_date'], format='%m/%d/%Y_%H:%M')

In [15]:
# creating new columns using pandas .to_datetime() method
sales['order_year'] = pd.to_datetime(sales['order_dt']).dt.year
sales['order_month'] = pd.to_datetime(sales['order_dt']).dt.month

In [16]:
sales.columns

Index(['order_date', 'order_id', 'product', 'product_ean', 'catégorie',
       'purchase_address', 'quantity_ordered', 'price_each', 'cost_price',
       'turnover', 'margin', 'order_dt', 'order_year', 'order_month'],
      dtype='object')

In [ ]:
sales.drop(columns={'order_date', 'order_dt', 'product_ean', 'order_id', 'purchase_address'}, axis=1, inplace=True)
sales = sales.rename(columns={'catégorie' : 'category'})
sales.columns

Index(['product', 'category', 'quantity_ordered', 'price_each', 'cost_price',
       'turnover', 'margin', 'order_year', 'order_month'],
      dtype='object')

In [18]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   product           185950 non-null  object
 1   category          185950 non-null  object
 2   quantity_ordered  185950 non-null  int64
 3   price_each        185950 non-null  float64
 4   cost_price        185950 non-null  float64
 5   turnover          185950 non-null  float64
 6   margin            185950 non-null  float64
 7   order_year        185950 non-null  int32
 8   order_month       185950 non-null  int32
dtypes: float64(4), int32(2), int64(1), object(2)
memory usage: 11.3+ MB

In [19]:
sales['category'].value_counts()

category
sports          46925
vêtements       46405
alimentation    46342
électronique    46278
Name: count, dtype: int64

In [20]:
sales['order_year'].value_counts()

order_year
2019    185916
2020        34
Name: count, dtype: int64

#### Linear regression is a good starting point for small to moderate datasets with few features, while Lasso regression is good for large datasets with many features.